.modal-backdrop{
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
}
.modals{
            max-width: 480px;
            margin: 0px auto;
            background-color: #fff;
            border-radius: 10px;
            width: 400px;
            height: 800px; 
}
.buyurtma-box {
    width: 440px;
    height: 676px;
    border: 1px solid #C7DFF5;
    background-color: #F6FBFF;
    margin: 0 auto;
}


.buyurtma-title {
    color: var(--title-color, #01384D);
    font-family: Raleway;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    margin-top: 50px;
}

.buyurtma-input {
    width: 320px;
    height: 50px;
    border-radius: 5px;
    border: 2px solid var(--title-color, #01384D);
    margin-top: 20px;
    margin-left: 55px;
    padding: 15px;
}

.buyurtma-input-2 {
    display: flex;
    margin-top: 30px;
    width: 320px;
    height: 50px;
    margin-left: 55px;
    border-radius: 5px;
    border: 2px solid var(--title-color, #01384D);
}

.raqam {
    width: 74px;
    height: 48px;
    background-color: var(--title-color, #01384D);
    text-align: center;
    color: white;
    padding-top: 12px;
}

.inputde {
    width: 100%;
    padding-left: 15px;
    outline: none;
}

.mahsulotlar-title {
    color: var(--title-color, #01384D);
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 20px;
    margin-left: 55px;
}

.select {
    width: 320px;
    height: 50px;
    margin-left: 55px;
    margin-top: 20px;
    border: 2px solid var(--title-color, #01384D);
    border-radius: 5px;
}
.plusminus{
    width: 320px;
    height: 50px;
    margin-left: 55px;
    margin-top: 20px;
    border: 2px solid var(--title-color, #01384D);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}
.plus{
    width: 80px;
    height: 48px;
    border-right: 2px solid var(--title-color, #01384D);
    border-radius: 2px;
    text-align: center;
    padding: 10px;
}
.minus {
    width: 80px;
    height: 48px;
    border-left: 2px solid var(--title-color, #01384D);
    border-radius: 2px;
    text-align: center;
    padding: 10px;
}
.count{
    text-align: center;
        padding: 13px;
}
.yuborish{
    width: 320px;
    height: 50px;
    margin-left: 55px;
    margin-top: 20px;
    border: 2px solid var(--title-color, #01384D);
    border-radius: 5px;
    display: flex;
    text-align: center;
    background-color: var(--title-color, #01384D);
    color: #F6FBFF;
}
.yuborish-btn{
    width: 320px;
    height: 50px;
    margin: 0 auto;
}
