.phone-text{
    width: 600px;
    height: 300px;
    align-items: center;
    margin-top: 50px;
    padding: 80px;
}
.phone-input{
        width: 700px;
        height: 300px;
        margin-top: 20px;
        padding: 80px;
        display: flex;
}
.tel{
    outline: none;
    padding: 13px;
    border-radius: 5px;
}
.phone-btn{
    width: 200px;
    height: 50px;
    margin-left: 10px;

    border: none;
    border-radius: 5px;
    margin-top: 35px;
}
.nmadr{
    width: 600px;
    height: 50px;
    margin-top: 35px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    justify-content: space-around;
}

.phone-box{
    background-color: rgba(234, 191, 159, 1);
}